.cards-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
.card {
  /* height: 350px;
  width: 270px; */
  /* border: 1px solid black; */
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  background-color:  whitesmoke;
}
.card-img {
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: cover;

  /* object-fit: contain; */
}

