.current-page-container {
  background-color: rgba(0, 0, 0, 0.834);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 100%;
  height: 100vh;
}

.show-info {
  color: white;
  /* width: 70%; */
  /* height: 500px; */
  display: flex;
  height: 100vh;
  width: 100vw;
  /* margin-top: 100px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  height: 500px;
  width: 500px;
}

.loader-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  /* url("https://media.giphy.com/media/ycfHiJV6WZnQDFjSWH/giphy.gif") center
    no-repeat; */
  z-index: 1;
}

.images {
    width: 300px;
    height: 300px;
    object-fit: contain;
}
.splide {
  display: initial;
  
}
/* @media and (max-width:350px) {
  .splide {
    options: 
  }
  
} */

/* .spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
} */

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
.overlay:hover {
  opacity: 1;
  color: inherit;
}

h1 {
  margin: 4% 3% 2% 7% !important;
  color: white;
}

.splideN {
  background-color: #2c2b3c;
    border-radius: 10px;
    margin:5% 8%;
    box-shadow: 5px 5px 15px 5px #1d1818;
    padding: 10px 0 10px 0;
}