@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
blockquote{
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #403F4c ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
  position: absolute;
  top: 30%;
  left: 22%;
  opacity: 0.7;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#403F4c;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

@media all and (max-width: 768px) {
  blockquote {
    font-size: 1em;
    opacity: 0.95;
    top: 15%;
    left: 5%;
    width:90%;
  }
}