body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #403f4c;
  /* background: linear-gradient(#524c4c, #8e7c7c); */
}
.hero {
  background-image: url("https://images.pexels.com/photos/4009603/pexels-photo-4009603.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  /* max-height: 200%; */
  opacity: 0.9;
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: #598392;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}
.search-form {
  width: 100%;
  text-align: center;
  /* margin-top: 200px; */
}
.search-input {
  width: 50%;
  height: 55px;
  font-size: 2rem;
  margin-top: 200px;
  opacity: 0.7;
}
/* .card { */
/* height: 350px;
  width: 270px; */
/* border: 1px solid black; */
/* border-radius: 10px;
  margin: 20px;
  color: rgb(244, 227, 227);
  padding: 20px;
  background-color: #2c2b3c; */
/* } */
.card-img {
  /* width: 100%; or any custom size */
  /* height: 100%; */
  /* object-fit: cover; */

  /* object-fit: contain; */
}

.btn {
  /* height: 55px; */
  width: 150px;
  margin: 10px;
  border: none;
  font-size: 1.5rem;
  background-color: rgb(58, 58, 72);
}
.btn:hover {
  background-color: rgb(16, 16, 23);
  color: bisque;
}
/* @media all and (max-width: 750px) {
  
  .hero {
    background-image: url("./assets/bg-hero.jpg");
  
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
  }
  .search-input {
    width: 90%;
    height: 55px;
    font-size: 2rem;
    margin-top: 200px;
    opacity: 0.7;
  }
} */
