.cards-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 85%;
  /* grid-template-columns: repeat(4, 1fr); */
  gap: 2rem;
  background-color: #403f4c;
  padding: 20px 0;
  justify-content: center !important;
  justify-items: flex-start;
  /* width: 90%; */
  /* align-self: flex-start; */
  /* align-items: flex-start; */
  align-items: center;
  /* margin-bottom: 100px; cunku result olmadiginda alan bos kaliyor */

  /* justify-content: center; */
}
.card-imgage {
  overflow: hidden;
  margin-bottom: 0.5rem;
}
.card.card-imgage > img {
  display: block;
  width: 100%;
  /* aspect-ratio: 16/9; */
  object-fit: cover;
}
.card:hover {
  transform: scale(1.025);
  transition: 200ms transform ease-in;
  text-decoration: none;
}

.card {
  min-height: 505px;
  /* border: 1px solid black; */
  border-radius: 10px;
  margin: 0 15px;
  color: rgb(244, 227, 227);
  /* padding: 20px; */
  background-color: #2c2b3c;
  padding: 5px 5px 0 5px;
  cursor: pointer;
  object-position: center;
  box-shadow: 5px 5px 15px 5px #1d1818;
}

.card:hover {
  color: burlywood;
}

.card-img {
  /* width: 100%;
  height: 100%; */
  object-fit: cover;

  /* border: 1px solid cadetblue; */
  height: 300px;
  width: 250px;
  object-fit: contain;
}
.card-info {
  text-align: center;
  padding: 20px 20px 0 20px;
  max-width: 250px;
}

.result-name {
  font-size: larger;
  /* text-decoration: underline;
  text-decoration-style: double; */
}
.mul {
  justify-content: center;
  display: flex;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.card:hover .overlay {
  opacity: 1;
}

.cards-image {
  display: grid;
  justify-content: center;
  padding: 20px;
  /* min-height: 505px; */
  /* border-radius: 10px;
  margin: 0 15px;
  color: rgb(244, 227, 227);
  /* padding: 20px; */
  /* background-color: #2c2b3c;
  padding: 5px 5px 0 5px;
  object-position: center;
  box-shadow: 5px 5px 15px 5px #1d1818;  */
  
}
.cardpeople-img {
  max-height: 400px;
  border-radius: 10px;
    /* box-shadow: 5px 5px 15px 5px #1d1818; */
}

.content {
  display: flex;
  max-height: 450px;
  border-radius: 10px;
  margin: 0 15px;
  color: #CCCC;
  /* padding: 20px; */
  background-color: #2c2b3c;
  padding: 5px 5px 0 5px;
  object-position: center;
  box-shadow: 5px 5px 15px 5px #1d1818;
}

.wrap {
  display: grid;
  justify-content: center;
}

.cards-info {
  display: grid;
    padding: 20px;
    max-width: 250px;
    background-color: #403f4c;
    height: 400px;
    align-self: center;
    text-align: left;
    object-position: center;
    border-radius: 10px;
    color: whitesmoke;
}

.info {
  align-self: center;
}
